@import "tailwindcss";
@config "../tailwind.config.js";


@layer base {
  body {
    @apply bg-background text-text-main h-screen overflow-hidden;
  }
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-surface rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-border;
}